// THIS IS AN APHELION UI FILE
@font-face {
  font-family: 'VCR OSD Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('tgui/styles/assets/VCR_OSD_Mono.woff2') format('woff2');
}
